body,
html {
  height: 100%;
  margin: 0 auto;
}
 
/*動かなくしたい背景画像*/
div {
  box-sizing: border-box;
  height: 100%;
}
.parallax {
  background-image: url("https://github.com/motipapa/-/blob/main/top.jpg?raw=true");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
ul {
  list-style-type: none;
}


/*自画像回り込み*/
.self-portrait{
  float: left;
  padding: 0 0 0 0;
}
  /*自画像トリミング*/
img {
  width: 200px;
  height: auto;
  border-radius: 100%;
  object-fit: cover;
  max-width: 100%;
  margin: 20px 20px 20px 20px;
  
}

.logo{
  margin:  50px 0 40px 0;
  line-height: 0;
  text-align: center;
}

.title{
  margin:  50px 0 40px 0;
  line-height: 0;
  text-align: center;
}

.moji{
  margin: 0 0 0 0;
  padding: 30px 10px 50px 20px;
  background-image: url(../images/menu-bg.png);
  background-repeat: repeat-x;
}

  /*スマホ向けcss*/
@media (max-width: 767px) {
  
  .img {
  width: 300px;
  height: auto;
  border-radius: 100%;
  object-fit: cover;
  max-width: 100%;
}
}  
